<div class="row">
    <div class="col-12 text-end">
        <button class="btn btn-success btn-sm"  data-bs-toggle="modal" data-bs-target="#myModal">Create New User</button>
    </div>
</div>
<div class="row">
    <div class="col-3" *ngFor="let project of userList">
        <div class="card">
            <div class="card-header bg-success">
                {{project.emailId}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        {{project.fullName}}
                    </div>
                    <div class="col-6">
                        {{project.password }}
                    </div>
                </div>
              
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-success btn-sm">Edit</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-header">
          <h4 class="modal-title">New Project</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div> 
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
                <label for="">EmailId</label>
                <input type="text" name="emailId" class="form-control" [(ngModel)]="userObj.emailId">
            </div>
            <div class="col-6">
                <label for="">Password</label>
                <input type="text" name="password" class="form-control" [(ngModel)]="userObj.password">
            </div>
          </div>
          <div class="row"> 
            <div class="col-8">
                <label for="">Full  Name</label>
                <input type="text" name="projectName" class="form-control" [(ngModel)]="userObj.fullName">
            </div>
          </div>
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="onSave()">Save</button>
        </div> 
      </div>
    </div>
  </div>