<div class="main">
    <div class="container-fluid">
        <div class="row" style="padding-left: 20%;padding-top: 10%;">
            <div class="col-sm-5 authfy-panel-left pt-5 " style="width:300px ; height: 400px;">
                <div class="brand-col">
                    <div class="headline">
                        <div class="brand-logo">
                            <img src="./assets/glichlogo.svg" style="    width: 100%;"
                                alt="brand-logo">
                        </div>
                        <p class="pt-2 text-center">a Project Management Tool</p>
                        <div class="row social-buttons pt-2 ps-5 ">
                            <div class="col-xs-4 col-sm-4 col-md-12 p-2">
                                <a class="btn btn-block btn-facebook">
                                    <i class="fa-brands fa-facebook"></i> <span class="hidden-xs hidden-sm ">Signin
                                        with
                                        facebook</span>
                                </a>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-12 p-2">
                                <a class="btn btn-block btn-twitter ">
                                    <i class="fa-brands fa-twitter"></i><span class="hidden-xs hidden-sm">Signin
                                        with
                                        twitter</span>
                                </a>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-12 pt-2">
                                <a class="btn btn-block btn-google" style="background-color: red;">
                                    <i class="fa-brands fa-google-plus"></i> <span
                                        class="hidden-xs hidden-sm">Signin
                                        with google</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 authfy-panel-right" style="background-color:white ; width: 535px;">
                <div class="authfy-login">
                    <div class="authfy-panel panel-login text-center active">
                        <div class="authfy-heading pe-4">
                            <h3 class="auth-title">Login to your account</h3>

                            <p>Already Have Account? <a class="lnk-toggler" data-panel=".panel-signup">Login In</a>
                            </p>
                        </div>
                        <div class="row"  >
                            <div class="col-xs-12 col-sm-12">
                                <form name="loginForm" class="loginForm" action="#" method="POST" >
                                    <div class="form-group">
                                        <input type="email" [(ngModel)]="loginObj.emailId" class="form-control email my-2" name="emailId" required
                                            placeholder="Email address" style="width: 80%;">
                                    </div>
                                    <div class="form-group">
                                        <div class="pwdMask">
                                            <span class="d-flex">
                                                <input type="text"  [(ngModel)]="loginObj.password" class="form-control password" name="password"
                                                    placeholder="Password" style="width: 80%;">

                                            </span>
                                        </div>

                                    </div>
                                    <div class="row remember-row d-flex pt-4 me-5">
                                        <div class="col-xs-6 col-sm-6 remember-box">
                                            <label class="checkbox text-left">
                                                <input type="checkbox" value="remember-me">
                                                <span class="label-text">Remember me</span>
                                            </label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6">
                                            <p class="forgotPwd">
                                                <a class="lnk-toggler" data-panel=".panel-forgot">Forgot
                                                    password?</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block " (click)="onLogin()" type="button"
                                            style="width: 80%;">
                                            
                                            Login with email
                                        </button>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>